@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Purevision</h1>
    <p class="lead">The Bookkeeper's business practice software.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <h3>Telerik UI for ASP.NET MVC PanelBar</h3>
    <br />
    
    @(Html.Kendo().PanelBar()
        .Name("IntroPanelBar")
        .Items(items =>
        {
            items.Add()
                .Text("Getting Started")
                .Selected(true)
                .Expanded(true)
                .Content(@<text>
                    <p style="padding:0 1em; padding-top: 0.7em">
                        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that enables a clean 
                        separation of concerns and gives you full control over markup for enjoyable, agile development.
                    <a href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more…</a></p>
                </text>);
            items.Add()
                .Text("Get more libraries")
                .Content(@<text>
                    <p style="padding:0 1em; padding-top: 0.7em">
                        NuGet is a free Visual Studio extension that makes it easy to add, remove, and update 
                        libraries and tools in Visual Studio projects.
                    <a href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more…</a></p>
                </text>);
            items.Add()
                .Text("Web Hosting")
                .Content(@<text>
                    <p style="padding:0 1em; padding-top: 0.7em">
                        You can easily find a web hosting company that offers the right
                        mix of features and price for your applications.
                        <a href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more…</a>
                    </p>
                </text>);
            items.Add()
                .Text("System Info")
                .Expanded(true)
                .Content(@<text>
                    <div class="container">
                        <p style="padding:0 1em; padding-top: 0.7em">
                            Host: @ViewBag.HostName (@ViewBag.ConnectionStringName)<br />
                            <br />
                            <a href="https://docs.google.com/a/adamcox.net/document/d/1ll5mkr0VZ2n_7wE198L5MWAPBA05LCVKoL8fgWMyeB0/edit?usp=sharing">
                                Documentation</a><br />
                            <br />
                            Contributors:<br />
                            <!--<a href="http://meta.stackoverflow.com/users/2250792/adam-cox">
                                <img src="http://meta.stackoverflow.com/users/flair/2250792.png?theme=clean" width="208" height="58" alt="profile for Adam Cox at Meta Stack Overflow, Q&amp;A about the site for professional and enthusiast programmers" title="profile for Adam Cox at Meta Stack Overflow, Q&amp;A about the site for professional and enthusiast programmers">
                            </a>-->
                            <br/>
                            <a href="http://meta.stackoverflow.com/users/2250792/adam-cox">
                                <img src="http://www.gravatar.com/avatar/656443cfb3a31dc16ec6cd9b9551cc4a.png>" alt="Gravatar image for:  Adam Cox" title="Adam Cox" />
                            </a>
                            @*<a href="http://ca.linkedin.com/in/coachpalmer">
                                <img src="https://media.licdn.com/mpr/mpr/shrink_400_400/p/3/005/078/386/1ec2648.jpg" width="114" height="114" alt="Gravatar image for:  Michael Palmer" title="Michael Palmer" />
                            </a>*@
                        </p>
                    </div>

                          </text>);
        })
)
    
    
</div>